@charset "UTF-8";
@import "color.scss";
@import "mixin.scss";

.mypage {
    width: 100%;
}

.mypage_inner {
    @include widthAuto(1200);
    padding-top: 75px;

    h2 {
        font-family: 'BebasNeue';
        text-align: center;
        font-size: 64px;
    }

    form {
        width: 30%;
        padding: 40px 0;
        margin: 0 auto;

        .input_box {
            width: 100%;
            padding-bottom: 40px;
            position: relative;

            .title {
                font-size: 13px;
            }

            input {
                width: 100%;
                border: none;
                padding: 10px 0 10px 0;
                border-bottom: 1px solid $line-color;

                &:focus {
                    outline: none;
                }
            }

            .addr_number {
                width: 30%;
            }

            .input_phone {
                width: 30%;
                text-align: center;
            }

            .warning_email,
            .warning_password {
                position: absolute;
                color: rgb(251, 67, 67);
                font-size: 12px;
                margin-top: 5px;
                display: none;
            }
        }

        .btn_member {
            @include btnMember();
            margin-bottom: 10px;
        }
    }
}

.red_star {
    color: red;
}

.btn_addr {
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    color: #666;
    padding: 10px;
    font-size: 14px;
}