@charset "UTF-8";
@import "color.scss";
@import "mixin.scss";

.search {
    width: 100%;
}

.search_inner {
    @include widthAuto(1200);

    h2 {
        @include headerText();
    }

    .search_area {
        padding: 30px 0 40px 0;

        form {
            width: 40%;
            margin: 0 auto;
            border-bottom: 1px solid #222;
            position: relative;

            input {
                width: 90%;
                padding: 10px;
                border: none;

                &:focus {
                    outline: none;
                }
            }

            a {
                color: #222;
                position: absolute;
                bottom: 4px;
                right: 5px;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .paging {
        padding-top: 20px;
        position: relative;

        .paging_list {
            text-align: center;

            li {
                display: inline-block;
                padding: 5px;
                vertical-align: middle;

                a {
                    color: $gray-color;

                    &:hover {
                        color: #222;
                    }
                }
            }
        }
    }
}

.item {
    margin-top: 75px;
}

.item_inner {
    h3 {
        font-size: 18px;
        font-weight: bold;
    }

    ul {
        padding-top: 20px;
    }

    li {
        width: 280px;
        float: left;
        margin-right: 26.6px;
        margin-bottom: 40px;
        position: relative;

        &:nth-child(4n) {
            margin-right: 0;
        }

        a {
            color: #222;
            font-size: 13px;

            .discount {
                color: $gray-color;
                text-decoration: line-through;
                font-weight: 400;
                font-size: 13px;
            }
        }

        img {
            width: 100%;
            object-fit: contain;
            border-radius: 10px;
            border: 1px solid $line-color;
        }

        h3 {
            font-weight: bold;
            padding-top: 10px;
        }

        .content {
            padding: 10px 0 20px 0;
        }

        .price {
            font-weight: bold;
            font-size: 16px;
        }

        .percent {
            color: red;
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}